html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #ddd;
}

canvas {
  border: 1px solid black;
}

#main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}